*,
*::before,
*::after
	box-sizing border-box

html
	font-size 20px
	color red

body
	font-size 16px

.board
	width 600px
	margin 0 auto
	border 1px solid red
	&::after
		content ''
		display block
		clear both
	.cell
		float left
		width 100%
		height 200px
		border 1px solid blue
		&.noughts
			background url(../img/nought.png) center no-repeat
			background-size cover
		&.toe
			background url(../img/cross.png) center no-repeat
			background-size cover

#open-menu
	padding 5px 10px
	background-color teal
	color white
	display inline-block
	cursor pointer

#main-menu
	color: white
	padding: 5px
	min-height: 200px
	min-width: 150px
	background-color: teal
	position: absolute
	left: 8px
	top: 40px
	ul
		list-style: none
		margin: 0
		padding: 0
	li
		width: 100%
		line-height: 30px
		text-align: center
		cursor: pointer


@import "pages/admin-page.styl"
